# 1. 데이터 전처리

In [47]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

train =pd.read_csv('./train_ver2.csv')
test =pd.read_csv('./test_ver2.csv')

In [48]:
train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [49]:
# 제품 변수 컬럼 설정
prods = train.columns[24:]

In [50]:
# 결측값 확인
train[prods].isna().sum()

ind_ahor_fin_ult1        0
ind_aval_fin_ult1        0
ind_cco_fin_ult1         0
ind_cder_fin_ult1        0
ind_cno_fin_ult1         0
ind_ctju_fin_ult1        0
ind_ctma_fin_ult1        0
ind_ctop_fin_ult1        0
ind_ctpp_fin_ult1        0
ind_deco_fin_ult1        0
ind_deme_fin_ult1        0
ind_dela_fin_ult1        0
ind_ecue_fin_ult1        0
ind_fond_fin_ult1        0
ind_hip_fin_ult1         0
ind_plan_fin_ult1        0
ind_pres_fin_ult1        0
ind_reca_fin_ult1        0
ind_tjcr_fin_ult1        0
ind_valo_fin_ult1        0
ind_viv_fin_ult1         0
ind_nomina_ult1      16063
ind_nom_pens_ult1    16063
ind_recibo_ult1          0
dtype: int64

In [51]:
train['ind_nomina_ult1'].value_counts()

0.0    12885285
1.0      745961
Name: ind_nomina_ult1, dtype: int64

In [52]:
train['ind_nom_pens_ult1'].value_counts()

0.0    12821161
1.0      810085
Name: ind_nom_pens_ult1, dtype: int64

In [53]:
train[prods] = train[prods].fillna(0.0)

In [54]:
train[prods].isna().sum()

ind_ahor_fin_ult1    0
ind_aval_fin_ult1    0
ind_cco_fin_ult1     0
ind_cder_fin_ult1    0
ind_cno_fin_ult1     0
ind_ctju_fin_ult1    0
ind_ctma_fin_ult1    0
ind_ctop_fin_ult1    0
ind_ctpp_fin_ult1    0
ind_deco_fin_ult1    0
ind_deme_fin_ult1    0
ind_dela_fin_ult1    0
ind_ecue_fin_ult1    0
ind_fond_fin_ult1    0
ind_hip_fin_ult1     0
ind_plan_fin_ult1    0
ind_pres_fin_ult1    0
ind_reca_fin_ult1    0
ind_tjcr_fin_ult1    0
ind_valo_fin_ult1    0
ind_viv_fin_ult1     0
ind_nomina_ult1      0
ind_nom_pens_ult1    0
ind_recibo_ult1      0
dtype: int64

In [55]:
train.shape

(13647309, 48)

In [56]:
test.shape

(929615, 24)

In [68]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11091070 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             object
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    object
 6   fecha_alta             object
 7   ind_nuevo              float64
 8   antiguedad             object
 9   indrel                 float64
 10  ult_fec_cli_1t         object
 11  indrel_1mes            object
 12  tiprel_1mes            object
 13  indresi                object
 14  indext                 object
 15  conyuemp               object
 16  canal_entrada          object
 17  indfall                object
 18  tipodom                float64
 19  cod_prov               float64
 20  nomprov                object
 21  ind_actividad_cliente  float64
 22  renta                  float64
 23  segmento               object
 24  ind_ahor_fin_ult1      int64
 25  ind_aval_fin_ult1      int64
 26  ind_cco_fin_ult1       int64
 27  ind_cder_fin_ult1      int64
 28  ind_cno_fin_ult1       int64
 29  ind_ctju_fin_ult1      int64
 30  ind_ctma_fin_ult1      int64
 31  ind_ctop_fin_ult1      int64
 32  ind_ctpp_fin_ult1      int64
 33  ind_deco_fin_ult1      int64
 34  ind_deme_fin_ult1      int64
 35  ind_dela_fin_ult1      int64
 36  ind_ecue_fin_ult1      int64
 37  ind_fond_fin_ult1      int64
 38  ind_hip_fin_ult1       int64
 39  ind_plan_fin_ult1      int64
 40  ind_pres_fin_ult1      int64
 41  ind_reca_fin_ult1      int64
 42  ind_tjcr_fin_ult1      int64
 43  ind_valo_fin_ult1      int64
 44  ind_viv_fin_ult1       int64
 45  ind_nomina_ult1        float64
 46  ind_nom_pens_ult1      float64
 47  ind_recibo_ult1        int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.0+ GB

In [60]:
# 24개 제품 중 하나도 보유 하지 않는 고객 데이터를 제거한다.
no_product =train[prods].sum(axis=1)==0
train = train[~no_product]

In [62]:
train.shape

(11091070, 48)

# 각 변수들을 범주형(categorical), 수치형(numerical)으로 구분하기

column 분석

fetch_dato 날짜 데이터  
ncodpers 고객 번호

fecha_alta 은행과 처음 거래한 날짜 날짜 데이터  
ult_fec_cli_it 1등급 고객으로서 최근 날짜 날짜 데이터  

ind_empleado 고용 지표 categorical  
pais_residencia 거주 국가 categorical  
sexo 성별 categorical  
ind_nuevo 신규 고객 인덱스 categorical ////////  
indrel 고객 등급 categorical  
indrel_1mes 월초 기준 고객 등급 categorical/////////////  
tiprel_1mes 월초 기준 고객 관계 유형 categorical//////////  
indresi 거주 지표 categorical  
indext 외국인 지표 categorical  
conyuemp 배우자 지표 categorical  
canal_entrada 고객 유입 채널 categorical  
indfall 고객 사망 여부 categorical  
tipodom 주소 유형 categorical  
cod_prov 지방 코드 categorical////////  
nomprov 지방 이름 categorical  
ind_actividad_client 활발성 지표 categorical///////  
segmento 분류 categorical  
	
age 나이 numerical  
renta 가구 총 수입 numerical  
antiguedad 고객 누적 기간 월수 numerical

In [69]:
train['cod_prov'].unique()

array([29., 13., 50., 45., 24., 20., 10., 17., 49.,  8., 37.,  9., 22.,
       31.,  5., 40., 27., 25., 28.,  3., 42., 41., 39.,  7., 47., 36.,
       46., 44., 15., 32., 23., 16., 48., 12., 26.,  2.,  6., 30., 11.,
       nan,  4., 19., 34., 35., 14., 21., 18., 33., 38., 52., 43.,  1.,
       51.])

In [70]:
train['nomprov'].unique()

array(['MALAGA', 'CIUDAD REAL', 'ZARAGOZA', 'TOLEDO', 'LEON', 'GIPUZKOA',
       'CACERES', 'GIRONA', 'ZAMORA', 'BARCELONA', 'SALAMANCA', 'BURGOS',
       'HUESCA', 'NAVARRA', 'AVILA', 'SEGOVIA', 'LUGO', 'LERIDA',
       'MADRID', 'ALICANTE', 'SORIA', 'SEVILLA', 'CANTABRIA',
       'BALEARS, ILLES', 'VALLADOLID', 'PONTEVEDRA', 'VALENCIA', 'TERUEL',
       'CORUÑA, A', 'OURENSE', 'JAEN', 'CUENCA', 'BIZKAIA', 'CASTELLON',
       'RIOJA, LA', 'ALBACETE', 'BADAJOZ', 'MURCIA', 'CADIZ', nan,
       'ALMERIA', 'GUADALAJARA', 'PALENCIA', 'PALMAS, LAS', 'CORDOBA',
       'HUELVA', 'GRANADA', 'ASTURIAS', 'SANTA CRUZ DE TENERIFE',
       'MELILLA', 'TARRAGONA', 'ALAVA', 'CEUTA'], dtype=object)

cod_prov 지방 코드 categorical  
nomprov 지방 이름 categorical  
같은 값으로 보여지므로 base line에서는 nomprov를 삭제하겠습니다.

In [72]:
train.drop('nomprov', axis=1, inplace=True)
test.drop('nomprov', axis=1, inplace=True)

In [79]:
train.iloc[:,:24].describe()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1
count,1.109107e+07,1.106920e+07,1.106920e+07,11069203.0,1.101489e+07,1.106920e+07,8.913731e+06,1.109107e+07
mean,8.359488e+05,5.314456e-02,1.045639e+00,1.0,2.667083e+01,5.615199e-01,1.332271e+05,1.258670e-04
std,4.267510e+05,2.243217e-01,2.114370e+00,0.0,1.279447e+01,4.962009e-01,2.249984e+05,1.121834e-02
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00
25%,4.544570e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.868434e+04,0.000000e+00
50%,9.442930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,1.000000e+00,1.017018e+05,0.000000e+00
75%,1.190864e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.554008e+05,0.000000e+00
max,1.553571e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00

tipodom은 모든 값이 1이여서 예측에 도움이 될 거 같지 x

In [77]:
train.iloc[:,:24].describe(include='O')

,fecha_dato,ind_empleado,pais_residencia,sexo,age,fecha_alta,antiguedad,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,segmento
count,11091070,11069204,11069204,11069145,11091070,11069204,11091070,5155,10998349.0,10998349,11069204,11069204,1594,10989233,11069204,10988868
unique,17,5,110,2,231,6707,507,207,13.0,5,2,2,2,159,2,3
top,2016-05-28,N,ES,V,24,2014-07-28,21,2015-07-09,1.0,A,S,N,N,KHE,N,02 - PARTICULARES
freq,696539,11061238,11014879,5993739,442962,54177,118083,280,6372011.0,5920750,11014880,10594346,1577,3571637,11044360,6153576

ind_empleado, pais_residencia, indresi, indext, indfall  
값이 하나로 치중되어 있어서 의심스러움